body {
   font-family: Helvetica, sans-serif;
}

main {
   background-color: #DDDDDD;
}

span {
   color: #64C4BC;
}

header {
   border-bottom: 3px solid Black;
}

header div {
   float: right;
}

header div p {
   margin: 0;
}

main {
   width: 75%;
}

main h2 {
   border-bottom: 3px solid Black;
}

aside {
   float: right;
   width: 24.5%;
}


aside h2 {
   border-bottom: 3px solid Black;
   background-color: #DDDDDD;
}


footer {
   clear: left;
   position: relative;
   top: 20px;
  margin-left: 250px;
}
