html {  
   font-family: Helvetica, sans-serif;
   font-size: 100%;
}

span {
   color: #64C4BC;
}


header {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid black;
   margin-bottom: 1rem;
}

header h1 {
   font-size: 2.5em;
}

header p {
   line-height: 0.3em;
}

main {
   display: flex;
   justify-content: space-between;
}

#TopSection h2 {
   border-bottom: 2px solid black;
}

#AsideTopH2 {
   border-bottom: 2px solid black;
}    
