html { font-family: Helvetica, sans-serif; }

body {
display: grid; 
grid-template-areas: " Z A A A X "
                     " Z B B C X "
                     " Z D D D X ";
grid-template-columns: 1fr repeat(3,25%) 1fr;
}

header {
 grid-area: A;
 margin: 0 0 2rem 0;
 padding: 5rem  1rem  2rem 1rem;
 background-color: #64C4BC;
}

h1 {
 margin: 0 0 1rem 0;
 font-size: 3rem;
}

header span {
   color: white;
   font-weight: bold;
}

h2 {
   margin: 0 0 3rem 0;
}

header p {
 margin: 0;
 font-size: 1.5rem;
}


ul {
 list-style: none;
}

.area {
background-color: #EEEEEE;
padding-bottom: 1em;
}


header div {
   padding-top: 1em;
}



main {
   grid-area: B;
   margin-right: 1em;
   margin-bottom: 1rem;
}

span {
 color: #64C4BC;
 font-weight: bold;
}

#Education li {
   font-size: 1.5em;
}


.TopH2 {
   margin-bottom: 0;
   border-bottom: 1px solid black;
   padding-bottom: 0.5em;
   padding-left: 1em;
   margin-left: 0;
}

main article, section article, #Education article {
   display: flex;
}

.Year {
      flex: 0 0 auto;
      width: 2.0em;
      font-size: 1.5em;
      padding: 0.8em;
      margin-right: 0.2em; 
      margin-left: 0.2em; 
      margin-top: 1em;
}

main ul, section ul, #Education ul{
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 1em;
   padding-left: 1em;
   border-left: 1px solid black;
   flex: 1 1 auto;
}

main li {
     font-size: 1.5em;
     margin-bottom: 0.5rem;
  }

main li:first-child {
     margin-bottom: 0rem;
  }

aside {
   grid-area: C;
   margin-bottom: 1rem;
   background-color: #fff;
}

aside div {
   border-bottom: 1em solid white;
}

aside div h2 {
   border-bottom: 1px solid black;
   margin-left: 0.5em;
}

aside ul {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding-left: 1em;
   padding-right: 1em;

}

#Leadership {
   border-bottom: 0;
}


#Education {
   grid-area: D;
   margin-right: 1em;
   margin-bottom: 1rem;
   width: 100%;
}

#Skills {
      width: 100%;
      padding-bottom: 1em;
      border-bottom: 0;
   }

#Skills span {
   color: black; 
}


.ProgressBar {
   background-color: #FEFEFE;
   border-bottom: 0;
}

.ProgressBar div {
   height:1em;
   background-color: #64C4BC;
   border-bottom: 0;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.P50 {
   width:50%;
}

.P75 {
   width:75%;
}

@media all and (max-width: 1080px) {

html {
 text-size-adjust: none; /*Avoid text inflation on mobil browsers*/
 overflow-x: hidden; /*Avoid right blank space when overflow*/
 width: 100%;
}

body {
 display: flex;
 flex-flow: column;
 width: 100%;
 margin: 0;
}

header {
 order: 0;
 margin: 0 0 2rem 0;
 padding: 3rem  1rem  3rem 1rem;
}

h1 {
 font-size: 4.5rem;
}

header h2 {
 font-size: 3.2em;
 margin-bottom: 2rem;
}

header p {
 margin: 0;
 font-size: 3.0rem;
}

   
   header div {
      display: flex;
      flex-flow: row wrap; 
      justify-content: space-around;
   } 


main {
      display: block; /*block*/
      order: 1;
      margin-bottom: 2rem;
}

.TopH2 {
      font-size: 2.5rem;
   }

article {
     display: flex;
     font-size: 1.5rem;
     
  }

   .Year {
      flex: 0 0 auto;
      width: 2.0em;
      padding: 0.5em 0.5em 0.5em 0; margin-right: 0.2em;
      font-size: 2rem;
      font-weight: bold;
   }

main ul {
     padding-top: 1.5em;
  }

main li {
   font-size: 1.5rem;
  }

main li:first-child {
     margin-bottom: 0rem;
  }
  

aside {
     order: 4;
     margin-bottom: 2rem;
     font-size: 1.5em;
   }

aside div {
   border-bottom: 1em solid white;
}   
      
aside h2 {
      padding-left: 1em;
   }

#Education {
      display: block; /*block*/
      order: 3;
      margin-bottom: 2rem;
      font-size: 1.5rem;
   }

#Education li {
      width: 100%;
      font-size: 1.5rem; 
   }


.Hidden {
   display: none;
}


  } 
