html { font-family: Helvetica, sans-serif; }

body {
 display: grid; 
 grid-template-areas: " Z A A A X "
                      " Z B B C X "
                      " Z D D D X "
                      " Z E E E X ";
 grid-template-columns: 1fr repeat(3,25%) 1fr;
}

header {
 grid-area: A;
 margin: 0 0 2rem; /*Arriba|Horizontal|Abajo*/
 padding: 5rem  1rem  2rem;
 background-color: #64C4BC;
}

h1 {
 margin: 0 0 1rem;
 font-size: 3rem;
}

header span {
 color: white;
 font-weight: bold;
}

header h2 {
 margin: 0 0 3rem;
}

header p {
 font-size: 1.5rem;
}

main {
 grid-area: B;
 margin: 0 1rem 1rem 0;
 padding-top: 1rem;
}

main, aside section, article, footer {
background-color: #EEEEEE;
}

h2 {
 margin: 0;
 padding: 0 1rem;
 border-bottom: 1px solid black;
}

section {
  display: flex;
}

p.First {
 padding-top: 2rem;
}

main p, article p, footer p {
 flex: 0 0 auto;
 margin: 0;
 padding: 0 1rem 2rem;
 width: 2.0em;
 font-size: 1.5rem;
}

ul.First {
 padding-top: 2rem;
}

ul {
 flex: 1 1 auto;
 margin: 0;
 padding: 0 1rem 2rem;
 border-left: 1px solid black;
 list-style: none;
}

span {
 color: #64C4BC;
 font-weight: bold;
}

main li, aside li, article li, footer li {
     font-size: 1.5rem;
     margin-bottom: 0.5rem;
  }

main li:first-child {
     margin-bottom: 0rem;
  }

aside {
   grid-area: C;
   display: flex;
   flex-flow: column nowrap;
   margin-bottom: 1rem;
}

aside section {
 flex-flow: column nowrap;
 flex: 1 1 auto;
 margin: 0 0 2rem 0;
 padding-top: 1rem;
}

aside ul {
   border-left: 0;
}

aside li{
     margin-bottom: 0rem;
}

.ProgressBar {
   background-color: #FEFEFE;
   padding-top: 0;
}

.ProgressBar div {
   margin-bottom: 0.5rem;
   height: 0.5em;
   background-color: #ABABAB;
}

.P50 {
   width:50%;
}

.P75 {
   width:75%;
}
section.Last {
 margin-bottom: 0;
}

article {
 grid-area: D;
 margin: 0 0 1rem 0;
 padding: 1rem 0 0;
} 

footer {
 grid-area: E;
 margin: 0 0 1rem 0;
 padding: 1rem 0 0;
}

@media screen and (max-width: 980px) {

html {
 text-size-adjust: none; /*Avoid text inflation on mobil browsers*/
 overflow-x: hidden; /*Avoid right blank space when overflow*/
 width: 100%;
}

body {
 display: flex;
 flex-flow: column;
 margin: 0 4%;
 width: 92%;
}

header {
 order: 0;
 margin: 0 0 2rem 0;
 padding: 3rem  1rem  3rem;
}

h1 {
 font-size: 4.0rem;
}

header h2 {
 font-size: 3.2em;
 margin-bottom: 2rem;
 padding-bottom: 1rem;
}

header p {
 margin: 0;
 font-size: 3.0rem;
}

main {
 display: block; /*block*/
 order: 1;
 margin-bottom: 2rem;
}

main h2, main h2, aside h2, article h2,  footer h2 {
 font-size: 3rem;
}

main p, main p, aside p, article p, footer p {
font-size: 3rem;
}

main li:first-child {
     margin-bottom: 0rem;
}
  
main li, main li, aside li, article li, footer li {
 font-size: 3rem;
}

aside {
 order: 4;
 margin-bottom: 2rem;
 font-size: 1.5em;
}

aside h2 {
 padding-left: 1em;
}

article {
 display: block; /*block*/
 order: 2;
 margin-bottom: 2rem;
 font-size: 1.5rem;
}

footer {
 display: block; /*block*/
 order: 3;
 margin-bottom: 2rem;
 font-size: 1.5rem;
}

.Hidden {
   display: none;
}

} 

/*Style sheet for "letter" printing */
@media print {
 @page { 
  size: 8.5in 11in;
  margin: 40pt;
  @top-right {
  content: "page " counter(page) " of " counter(pages);
  }
 }

body {
 display: flex;
 flex-flow: column;
}

header, main, aside section, article, footer {
margin-bottom: 12pt;
background-color: #FFFFFF;
}

header {
 order: 0;
 border: 1px solid black;
 padding: 4pt 2pt 0 6pt;
} 

h1 {
 margin-bottom: 4pt;
 padding: 8pt 0 0;
 font-size: 16pt;
}

header span, main span, aside span, article span, footer span  {
 color: black;
}

header h2 {
 margin-bottom: 4pt;
 padding: 0 0 4pt; 
 font-size: 8pt;
}

header p {
 font-size: 8pt; 
 padding-bottom: 0;
 margin-bottom: 6pt;
}

main{
 order: 1;
} 

main, aside, article, footer {
 margin-top: 0;
 padding-top: 0;
 width: 100%;
}

main h2, aside h2, article h2, footer h2 {
 font-size: 9pt;
}

main p.First {
 padding-top: 4pt;
}

main ul.First {
 padding-top: 4pt;
}

ul {
 padding-bottom: 4pt;
}

main li, aside li, article li, footer li {
 font-size: 8pt;
}

main p, main p, aside p, article p, footer p {
font-size: 8pt;
}

article {
 order: 2;
} 

footer {
 order: 3;
} 

aside {
 order: 4;
} 

#Skills {
 display: none;
}

