html {  
   font-family: Helvetica, sans-serif;
   font-size: 100%;
}


span {
   color: #64C4BC;
   font-weight: bold;
}

h2 {
   padding-bottom: 0.5em;
}


ul {
   list-style: none;
}

.area {
   background-color: #EEEEEE;
}

body {
   display: grid; 
   grid-template-areas: " A B B B C "
                        " A D D E C "
                        " A F F F C "
                        " A G G G C "; 
   grid-template-columns: 20% repeat(3,20%) 1fr;
  }

header {
   display: flex;
   grid-area: B;
   border-bottom: 2px solid black;
   margin-bottom: 2rem;
   justify-content: space-between;
}

header h1 {
   font-size: 3em;
   margin-bottom: 0.5rem;
}

header div {
   padding-top: 1em;
}

header p {
   line-height: 0.3em;
   padding-right: 1em;
}

main {
   grid-area: D;
   margin-right: 1em;
   margin-bottom: 1rem;
}


.TopH2 {
   margin-bottom: 0;
   border-bottom: 2px solid black;
   padding-bottom: 0.5em;
   padding-left: 1em;


}

main article, section article {
   display: flex;
   flex: 0 0 auto;
}

.Year {
   margin-top: 0;
   margin-bottom: 0;
   padding: 2em 1em;
}

main ul, section ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 1em;
   padding-left: 1em;
   border-left: 2px solid black;

}

aside {
   grid-area: E;
   margin-bottom: 1rem;
}

aside div {
   border-bottom: 1em solid white;
}

aside div h2 {
   border-bottom: 2px solid black;
   margin-left: 0.5em;

}

aside ul {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding-left: 1em;
}

#Leadership {
   border-bottom: 0;
}

section {
   grid-area: F;
   margin-bottom: 1rem;
}

footer {
   grid-area: G;
   justify-self: center;
   display: flex;
}

@media all and (max-width: 980px) {
   body {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
   }

   header {
      display: flex;
      flex-flow: column;
      order:0;
      border-bottom: 0;
      margin-left: 0.5em;
   }

   header h1 {
      margin-top: 1em;
      order: 0;
      font-size: 4.5em;
      border-bottom: 2px solid black;
   }
   
   header div {
      display: flex;
      flex-flow: row wrap; 
      justify-content: space-around;
      font-size: 2em;
   } 

   header p {
      width: 100%;
      line-height: 0.2em;
      margin-top: 0.2em;
      margin-bottom: 0.6em;
      font-size: 1.25em;
   }

   .HeaderP {
      margin-bottom: 0.9em;
   }

   main {
      order: 1;
      margin-bottom: 2rem;
   }

   .Year {
      width: 3em;
      font-size: 3em;
      font-weight: bold;
      padding: 2em 0.2em;
      }

   aside {
      order: 3;
      margin-bottom: 2rem;
   }

   aside div {
   border-bottom: 2em solid white;
}   
      
   aside h2 {
      padding-left: 1em;
   }

   #CharityWork {
      order: 2;
      margin-bottom: 2rem;
   }

   footer {
     order: 4;
     align-self: flex-start;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     font-size: 3em;
   }

   footer p {
      margin: 0.3em;
   }

  } 
