html { font-family: Helvetica, sans-serif; }

body {
 display: grid; 
 grid-template-areas: " Z A A A X "
                      " Z B B C X "
                      " Z D D D X "
                      " Z E E E X "
                      " Z F F F X ";
 grid-template-columns: 1fr repeat(3,25%) 1fr;
 background-color: #afd3f0;
 color: #000000;
}

header {
 grid-area: A;
 margin: 1rem 0 1.5rem; /*Arriba|Horizontal|Abajo*/
 padding: 5rem  1rem  2rem;
 background-color: #095ea2;
}

h1 {
 margin: 0 0 1rem;
 font-size: 3rem;
}

header span {
 color: #5ae1a2;
 font-weight: bold;
}

header h2 {
 margin: 0 0 3rem;
}

header p {
 font-size: 1.5rem;
}

main {
 grid-area: B;
 margin: 0 1rem 2rem 0;
 padding-top: 1rem;
}

main, aside section, article, footer {
background-color: #4882b0;
}

h2 {
 margin: 0;
 padding: 0 1rem;
 border-bottom: 1px solid black;
}

section {
  display: flex;
  align-content: space-between;
}

p.First {
 margin-right: 1rem;
 padding-top: 2rem;
}

main.div p {
  width: auto; 
}

main p, article p, footer p, footer i {
 flex: 0 0 auto;
 margin: 0 1rem 0 0;
 padding: 0 1rem 0rem;
 width: 3.0rem;
 font-size: 1.5rem;
}

main div, article div, footer div {
 border-left: 1px solid black;
 padding-left: 2rem;
}


h3.First {
 padding-top: 2rem;
}

main h3 {
 padding-left: 0;
 font-size: 1.5rem;
 margin: 0 0 1rem;
}


ul.First {
}

main ul {
 list-style-type: disc;
 list-style-position: outside;
}

ul {
 flex: 1 1 auto;
 margin: 0;
 padding: 1rem 1rem 2rem 0;
 list-style: none;
}

span {
 color: #5ae1ad;
 font-weight: bold;
}

strong {
   font-size: 1.5rem;
}

main li, article li, footer li {
     font-size: 1.5rem;
     margin-bottom: 0.5rem;
  }

main li:first-child {
     margin-bottom: 0rem;
  }

aside {
   grid-area: C;
   display: flex;
   flex-flow: column nowrap;
   margin-bottom: 2rem;
}

aside section {
 flex-flow: column nowrap;
 flex: 1 1 auto;
 margin: 0 0 1rem 0;
 padding-top: 1rem;
}

aside ul {
   border-left: 0;
   padding-left: 1rem;
}

aside li {
     margin-bottom: 0rem;
     font-size: 1.2rem;
}

.ProgressBar {
   background-color: #afd3f0;
   padding-top: 0;
}

.ProgressBar div {
   margin-bottom: 0.5rem;
   height: 0.5em;
   background-color: #095ea2;
}

.P50 {
 width:50%;
}

.P75 {
 width:75%;
}

.P100 {
 width:100%;
}

.Last {
 margin-bottom: 0;
 padding-bottom: 0;
}

article p.First {
   padding-top: 1rem;
}

article ul {
 border-left: 1px solid black;
 padding-left: 2rem;
}

article ul.Last {
 padding-top: 0;
}

article#Education {
 grid-area: D;
 margin: 0 0 2rem 0;
 padding: 1rem 0 0;
} 

#Eductaion p, #Education ul {
 padding-bottom: 0;
}

article#Courses {
 grid-area: E;
 margin: 0 0 2rem 0;
 padding: 1rem 0 0;
} 

#Languages {
 display: none;
}

p.LangIndic {
 display: none;
}


footer {
 grid-area: F;
 display: none;
 margin: 0 0 1rem 0;
 padding: 1rem 0 0;
 word-wrap: break-word;
}

footer p {
 font-size: 4rem;
}

.fas {
text-align: center;
}

.fa-map-marked-alt {
 padding-top: 2rem;
}

footer ul {
 border-left: 1px solid black;
 padding-left: 2rem;
}


@media screen and (max-width: 980px) {

html {
 text-size-adjust: none; /*Avoid text inflation on mobil browsers*/
 overflow-x: hidden; /*Avoid right blank space when overflow*/
 width: 100%;
}

body {
 display: flex;
 flex-flow: column;
 margin: 4% 4% 0%;
 width: 92%;
}

header {
 order: 0;
 margin: 0 0 2rem 0;
 padding: 3rem  1rem  3rem;
}

h1 {
 font-size: 4.0rem;
}

header h2 {
 font-size: 3.2em;
 margin-bottom: 2rem;
 padding-bottom: 1rem;
}

header p {
 margin: 0;
 font-size: 3.0rem;
}

main {
 display: block; /*block*/
 order: 1;
 margin-right: 0;
 margin-bottom: 2rem;
}

main h2, main h2, aside h2, article h2,  footer h2 {
 font-size: 3rem;
}

main p, main p, aside p, article p, footer p {
 font-size: 3rem;
 width: 7.0rem;
}

strong {
 font-size: 3rem;
}

main h3 {
 font-size: 3rem;
}

main li:first-child {
     margin-bottom: 0rem;
}
  
main li, main li, aside li, article li, footer li {
 font-size: 3rem;
}

aside {
 order: 4;
 display: none;
 margin-bottom: 2rem;
 font-size: 1.5em;
}

aside h2 {
 padding-left: 1em;
}

article {
 display: block; /*block*/
 order: 2;
 margin-bottom: 2rem;
 font-size: 1.5rem;
}

#Languages div {
 padding-left: 0;
 border-left: 0;
}

#Languages {
 display: block;
}


footer {
 display: block; /*block*/
 order: 3;
 margin-bottom: 2rem;
 font-size: 1.5rem;
}

footer #url {
 font-size: 2.5rem;
 }

footer i {
 width: 7rem;
 font-size: 3rem;
}

.fa, .fa {
 font-weight: 700;
}

.Hidden {
   display: none;
}

} 

/*Style sheet for "letter" printing */
@media print {
 @page { 
  size: 8.5in 11in;
  margin: 40pt;
  @top-right {
  content: "page " counter(page) " of " counter(pages);
  }
 }

body {
 display: flex;
 flex-flow: column;
 background-color: #fff;
}

header, main, aside section, article, footer {
margin-bottom: 12pt;
background-color: #FFFFFF;
}

header {
 order: 0;
 border: 1px solid black;
 padding: 4pt 2pt 0 6pt;
} 

h1 {
 margin-bottom: 4pt;
 padding: 8pt 0 0;
 font-size: 16pt;
}

header span, main span, aside span, article span, footer span  {
 color: black;
}

header h2 {
 margin-bottom: 4pt;
 padding: 0 0 4pt; 
 font-size: 8pt;
}

header p {
 font-size: 8pt; 
 padding-bottom: 0;
 margin-bottom: 6pt;
}

main {
 order: 1;
 margin-bottom: 0pt;
} 

main, aside, article, footer {
 margin-top: 0;
 padding-top: 0;
 width: 100%;
}

main h2, aside h2, article h2, footer h2 {
 font-size: 9pt;
}

main h3 {
font-size: 7pt;
margin: 0;
padding: 0;
}

strong {
 font-size: 7pt;
 color: black;
}

main p.First {
 margin-right: 0pt;
 padding: 6pt 0pt 0pt 6pt;
}

main h3.First {
 margin-right: 0;
 padding-top: 6pt;
 padding-bottom: 2pt;
}

main p {
 margin-right: 0pt;
 padding: 2pt 0pt 2pt 6pt;
}

main h3 {
 margin-right: 0;
 padding-top: 2pt;
 padding-bottom: 2pt;
}

ul {
 padding-bottom: 0;
 padding-top: 2pt;
}


main ul.First {
 padding-top: 4pt;
 padding-bottom: 0;
}

main li, aside li, article li, footer li {
 font-size: 8pt;
}

main p, main p, aside p, article p, footer p {
font-size: 8pt;
padding-left: 6pt;
}

article p.First, #Courses p, footer i {
 width: 6pt;
 padding-left: 6pt;
 margin-right: 18pt;
}

ul.First {
 padding-top: 4pt;
}


#Education {
 order: 2;
} 

#Languages {
 order: 3;
 display: block;
} 

p#Ingles {
 padding-bottom: 4pt;
 padding-left: 0;
} 

div.LangIndic {
 display: none;   
} 

p.LangIndic {
 display: block;   
 padding-left: 0;
} 

#Courses {
 order: 4;
} 

#Courses p {
 width: 8pt;
}


#Education, #Languages, #Courses {
 margin-top: 0;
 margin-bottom: 0pt;
 padding-top: 0;
 padding-bottom: 0;
}

main h2, article h2, footer h2 {
 margin: 0;
 padding: 0 6pt;
}

aside {
 display: none;
} 

footer {
 order: 5;
 display: block;
} 

.fas {
 padding-top: 4pt;
 margin-bottom: 4pt;
}

footer i {
 font-size: 12pt;
}

footer ul {
 padding-top: 4pt;
}

}
