html {  
   font-family: Helvetica, sans-serif;
   font-size: 100%;
}


body {
   width: 60%;
   margin-left: 20%;
}

span {
   color: #64C4BC;
}


header {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid black;
   margin-bottom: 1rem;
}

header h1 {
   font-size: 3.0em;
}


main {
   display: flex;
   justify-content: space-between;
}


main, aside, #BottomSection {
   background-color: #EEEEEE;
}


#TopSection {
   border-right: 1rem solid white;
}


header p {
   line-height: 0.3em;
}

#TopSection h2 {
   border-bottom: 2px solid black;
}

#AsideTopH2 {
   border-bottom: 2px solid black;
}    
