body {
   font-family: Helvetica, sans-serif;
}

header {
   border-bottom: 3px solid Black;
}

header h1 {
}

header div {
   float: right;
}

header div p {
   margin: 0;
}



span {
   color: #64C4BC;
}


footer {
   clear: left;
   position: relative;
   top: 20px;
  margin-left: 250px;
}
