html {  
   font-family: Helvetica, sans-serif;
   font-size: 100%;
}


body {
   width: 50%;
   margin-left: 25%;
}

span {
   color: #64C4BC;
}


header {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid black;
   margin-bottom: 2rem;
}

header h1 {
   font-size: 3.0em;
}

header p {
   line-height: 0.3em;
}


main {
   display: flex;
   justify-content: space-between;
}


main, aside, #BottomSection {
   background-color: #EEEEEE;
}


#WorkExperience {
   border-right: 1rem solid white;
}



#WorkExperience h2 {
   border-bottom: 2px solid black;
}

#WorkExperience Article {
   display: flex;
}

.Year {
   align-self: flex-start;
   padding-top: 1em;
Error, type a valid tag
}

#WorkExperience ul {
   border-left: 1px solid black;
}


#AsideTopH2 {
   border-bottom: 2px solid black;
}    


