html {  
   font-family: Helvetica, sans-serif;
   font-size: 100%;
}


span {
   color: #64C4BC;
}

header {
   border-bottom: 0.187rem  solid Black;
   margin-bottom: 1.5rem;
}


header div {
   float: right;
}

header h1 {
   font-size: 3rem;
}


header div p {
   margin: 0;
}


main {
   float: left;
   background-color: #EEEEEE;
   width: 75%;
}

main h2 {
   border-bottom: 0.125rem solid Black;
   margin-bottom: 0;
}


aside {
   float: right;
   width: 24.2%;
   /* background-color: #EEEEEE; */
}


aside h2 {
   border-bottom: 0.125rem solid Black;
   border-bottom: 2px solid Black;
}

aside div {
   background-color: #EEEEEE;
   margin-bottom: 1rem; 
   padding-top: 1rem;

}

p.Year {
   float: left;
   padding-left: 1rem;
   position: relative;
   top: 1.7em;
}

main ul {
   list-style: none;
   margin-left: 4rem;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 1rem;
   border-left: 0.125rem solid black;
}

aside ul {
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 1rem;
}

main li.Upperli {
   padding-top: 1em;
   
}

li.Bottomli {
   padding-bottom: 1em;
}

footer {
   clear: left;
   text-align: center;
}
