/*Style sheet for "letter" printing */
@media print {
 @page { 
  size: 8.5in 11in;
  font-size: 12pt;
  @top-right {
  content: "page " counter(page) " of " counter(pages);
  }
 }
 body { font-size: 12pt; }
}




